body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.racelevelcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.racelevelcol .level {
  max-width: 90px;
  margin-left: 5px;
}

.racelevelsub {
  margin-left: 15px;
  min-width: 50px;
  padding: 0;
  text-align: center;
  max-height: 30px;
}

.name {
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.name label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name .col {
  max-width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.names {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.names div {
  margin: 7px 0 7px 0;
}

.size {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.size .col {
  max-width: 300px;
}

.vision {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vision .col {
  max-width: 450px;
}

.hitsrow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: grey;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
}

.heal-row,
.healing {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 5px 0;
}

.heal-row div,
.healing div {
  margin: 5px 0 5px 0;
}

.movesrow {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: grey;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.moves {
  margin: 10px 0 10px 0;
}

.attackrow {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: grey;
  color: #ffffff;
  font-size: large;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mele {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.melee-self {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 7px 0 7px 0;
}

.melee-against {
  margin: 7px 0 7px 0;
}

.meleeinput {
  text-align: center;
}

.meleeinput span {
  margin: 0 5px 0 5px;
  text-align: center;
}

.attack input {
  max-width: 50px;
}

.attack .row {
  margin: 10px 0 10px 0;
}

.rangeinput {
  text-align: center;
}

.rangeinput span {
  margin: 0 5px 0 5px;
  text-align: center;
}

.attackbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.melee-against {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 35px;
}

.melee-against span {
  margin: 0 5px 0 5px;
  text-align: center;
}

.range-against {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 35px;
}

.range-against span {
  margin: 0 5px 0 5px;
  text-align: center;
}

.move-submit {
  margin: 7px 0 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-select {
  min-width: 70px;
}

input {
  min-width: 43px;
}

@media screen and (max-width: 800px) {
  input {
    padding: 0;
  }
}
