.abilities-modal {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.abil-close {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 96%;
    cursor: pointer;
    font-size: 35px;
    color: rgb(36, 175, 240);
    font-weight: 300;
}
.input-group {
    .form-control {
        min-width: 65px;
    }
}
.char-table-title {
    word-wrap: break-word;
}
body {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.person {
    display: flex;
    justify-content: end;
}
.container {
    //display: flex;
    flex-wrap: wrap;
}
input {
    min-width: 65px;
}

.racelevelcol {
    display: flex;
    justify-content: center;
    .level {
        max-width: 90px;
        margin-left: 5px;
    }
}
.racelevelsub {
    margin-left: 15px;
    min-width: 50px;
    padding: 0;
    text-align: center;
    max-height: 30px;
}

.name {
    margin: 15px;
    justify-content: center;
    text-align: center;
    label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col {
        max-width: 300px;
        flex-wrap: wrap;
    }
}
.names {
    justify-content: center;
    div {
        margin: 7px 0 7px 0;
    }
}

.size {
    justify-content: center;
    .col {
        max-width: 300px;
    }
}
.vision {
    justify-content: center;
    .col {
        max-width: 450px;
    }
}

.heal-row,
.healing {
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
    div {
        margin: 5px 0 5px 0;
    }
}

.def-row,
.reaction {
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
    div {
        margin: 5px 0 5px 0;
    }
}

.moves {
    margin: 10px 0 10px 0;
}
.char-rows {
    display: flex;
    align-items: center;
    justify-content: center;
}
.char-rows-grey {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid black;
    background-color: rgb(214, 214, 214);
    text-align: center;
}
.char-rows-white {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid black;
    text-align: center;
}
.btn-main-chars {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.stam-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid black;
}

.Ñhar-row {
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: grey;
    display: flex;
    font-weight: 700;
}
.mele {
    flex-wrap: wrap;
}
.melee-self {
    flex-wrap: nowrap;
    margin: 7px 0 7px 0;
}
.melee-against {
    margin: 7px 0 7px 0;
}
.melee-against-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meleeinput {
    text-align: center;
    span {
        margin: 0 5px 0 5px;
        text-align: center;
    }
}
.attack {
    .row {
        margin: 10px 0 10px 0;
    }
}

.rangeinput {
    text-align: center;
    span {
        margin: 0 5px 0 5px;
        text-align: center;
    }
}
.attackbtn {
    display: flex;
    justify-content: center;
    margin: 7px 0 7px 0;
}

.melee-against {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-left: 35px;
    span {
        margin: 0 5px 0 5px;
        text-align: center;
    }
}
.range-against {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 35px;
    margin: 10px 0 10px 0;
    span {
        margin: 0 5px 0 5px;
        text-align: center;
    }
}
.sec-chars-title {
    background-color: grey;
    text-align: center;
    border: 1px solid black;
}

.move-submit {
    margin: 7px 0 7px 0;
    display: flex;
    justify-content: center;
}
.custom-select {
    min-width: 70px;
}

.secondary-chars-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
#notes {
    width: 100%;
}
.hidden {
    display: none;
}
.sect-head {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    border: 1px solid black;
    background-color: grey;
    color: #ffffff;
    font-size: large;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}

.input-group > .custom-select {
    min-width: 50px;
}

.content__abil-manage {
    display: flex;
    flex-direction: column;
}
.add-abil {
    background: url("/img/add.svg") no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
}
.delete-abil {
    background: url("/img/del.svg") no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
}
// .tooltip {
//     position: relative;
// }
// .tooltip-text {
//     visibility: hidden;
// }

@media screen and (max-width: 580px) {
    .char-rows-grey,
    .char-rows-white {
        justify-content: space-between;
        font-size: 12px;
    }
    .sec-chars-title {
        word-wrap: break-word;
    }
    .char-table-title {
        font-size: 12px;
    }
    .char-rows {
        font-size: 10px;
    }
}
